.lesson-content {
  margin-top: 56px;
}

.task-container {
  /* text-align: left; */
}

.item-container {
  width: 100%;
}

.item {
  margin: 0 3px;
  text-align: left;
  line-height: 2.2;
}

.answer {
  border: 1px solid blueviolet;
  padding: 4px;
  margin: 2px;
  border-radius: 3px;
}
